html {
    font-family: "Roboto", sans-serif;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.form-popup {
    display: none;
    text-align: center;
    background-color: darkgrey;
    padding: 20px;
}

form input{
    margin-bottom: 10px;
}

.open {
    display: block;
}

.library-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

.book-container {
    background-color:darkcyan;
    color:white;
    padding:5px;
}
