.form-popup {
    display: none;
}

.open {
    display: block;
}

.library-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

.book-container {
    background-color:darkcyan;
    color:white;
    padding:5px;
}
